﻿@model IEnumerable<LunchCommand.Core.Models.User>

@{
    ViewBag.Title = "Luncher Leaderboards";
}

<h2>Luncher Leaderboards</h2>

<table class="table">
    <tr>
        <th>
            Total Lunches Eaten
        </th>
        <th>
            Name
        </th>
        <th>
            Preferred Venues
        </th>
        <th>
            Hated Venues
        </th>
        <th>
            Last Lunch
        </th>
        <th>
            Last Login
        </th>
    </tr>

    @foreach (var item in Model)
    {
        var lunches = item.LunchesEaten.Where(le=>le.LunchTimeUtc < DateTime.Now).OrderBy(le => le.LunchTimeUtc).Select(le => le.LunchTimeUtc).ToArray();

        <tr>
            <td>
                @lunches.Count()
            </td>
            <td>
                @item.FullName <span class="text-muted">(@item.UserName)</span>
            </td>
            <td>
                <a href="#" title="@String.Join("<br/>", item.VenuesPreferring.Select(v=>v.Name))"> @item.VenuesPreferring.Count()</a>
            </td>
            <td>
                <a href="#" title="@String.Join("<br/>", item.VenuesRefusing.Select(v=>v.Name))">@item.VenuesRefusing.Count()</a>
            </td>
            <td>
                @(lunches.Any()? lunches.Last().ToShortDateString() : "N/A")
            </td>
            <td>
                @item.LastActionTime.ToShortDateString()
            </td>
        </tr>
    }

</table>


@section scripts{

    <script>
        $(function () {
            $("table").tooltip({
                show: {
                    effect: "slideDown",
                    delay: 250
                },
                content: function () {
                    return $(this).attr('title');
                }
            });
        })
    </script>
}
