﻿body {
}

.question > h2 {
    text-align: center;
}

.question input[type=submit] {
    width: 150px;
}

.question > .centered {
    display: inherit;
    text-align: center;
}

.radio-col {
    width: 30px;
    padding-left: 1px !important;
    padding-right: 1px !important;
    text-align: center;
}

    .radio-col:not(:nth-child(4)) {
        border-right: 1px solid #dddddd;
    }

    .radio-col > input {
        display: inline-block;
        width: 22px;
        height: 19px;
    }

.new-venue {
    font-weight: bold;
}

#mainVenue {
    text-align: center;
}

#quickVenue, #dissentingVenue {
    font-weight: bold;
}

#quickConsensus, #dissentingConsensus {
    font-size: smaller;
}

.venue-choices > .table {
    margin-bottom: 0;
}

.genre-table > thead > tr > th {
    padding-bottom: 3px;
    padding-top: 3px;
    border: none;
}

.venue-table > table {
    margin-bottom: 0px;
}

.genre-header {
    display: block;
    padding: 2px 4px;
}

    .genre-header:hover {
        text-decoration: none;
        background-color: #eeeeee;
        border-radius: 4px;
    }

    .genre-header span:hover {
        text-decoration: none;
    }

    .genre-header .genre-name {
        font-size: medium;
    }


    .proposition{
        cursor: pointer;
    }

.proposition .panel-heading {
    font-size: 12pt;
    padding: 5px;
}

.proposition .panel-heading > span{
    font-size: small;
    font-weight: bold;
    float: right;
    margin-right: 10px;
}

.proposition .panel-body {
    padding: 5px;
    font-size: 11pt;
}

.new-proposition{
    margin-right: auto; 
    margin-left: auto;
    text-align: center;
    font-size: x-large
}

.new-proposition > .np-item:not(:last-child){
    margin-right: 20px;
}

.jumbotron{
    /* Spacing for the team header on the main page */
    margin-top: 35px;
}