﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn {
    margin-right: 10px;
}

    .btn:last-child {
        margin-right: initial;
    }

.users-table .check {
    width: 10px;
}

.users-table input[type=checkbox]:disabled {
    cursor: default;
}

.center-content {
    text-align: center;
}

.jumbotron {
    padding: 30px !important;
    margin-bottom: 0px;
}

.site-background {
    position: fixed;
    background: url("bgr.png");
    opacity: .1;
    bottom: 10px;
    right: 0;
    height: 413px;
    width: 800px;
    z-index: -1;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 15px;
}

.text-default, .text-default:hover {
    color: #444444;
}

input[disabled]{
    cursor: default !important;
}

.navbar-toggle{
    color: white;
    padding: 7px 30px;
}

.layout-body{
    position: relative;
}

.team-header {
    text-align:right; position: absolute; right: 15px
}