﻿body {
}

td.user-count, th.user-count{
    text-align: center;
}

td.user-count:not(.left), th.user-count:not(.left){
    padding-left: 1px !important;
}

td.user-count:not(.right), th.user-count:not(.right){
    padding-right: 1px !important;
}

td > input[type=checkbox]:disabled{
    margin-left: 13px;
}