﻿
@{
    ViewBag.Title = "Created";
}

<h2>Team Created!</h2>
<br/>
<h4>Your team has been created.  In order to join it as the first member, please register with the following invite code:</h4>

<h3 class="text-uppercase text text-success" >@ViewBag.InviteCode</h3>
<h3><a href="@Url.Action("Register", "Account", new { inviteCode= ViewBag.InviteCode })">Click Here to register with this code</a></h3>
