﻿
@{
    ViewBag.Title = "Edit Team Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Team Members</h2>


<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-3">
            <select style="width: 100%" class="form-control" data-bind="options: Members, optionsText: 'Display', selectedOptions: SelectedUsers" size="10" multiple></select>
        </div>
        <div class="col-md-1">
            <input type="button" class="btn btn-danger" data-bind="enable: SelectedUsers().length, click: function(){removeUsers()}" value="Remove User" />
            <br />
            <br />
            <input type="button" class="btn btn-default" data-bind="enable: SelectedUsers().length, click: function(){promoteUsers(true)}" value="Promote to Admin" />
            <br />
            <br />
            <input type="button" class="btn btn-default" data-bind="enable: SelectedUsers().length, click: function(){promoteUsers(false)}" value="Demote to User" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="button" value="Save Changes" class="btn btn-success" data-bind="click: function(){ save(function(){window.location = '@Url.Action("Edit", "Teams")';})}" />
            <input type="button" value="Cancel Changes" class="btn " onclick="window.location = '@Url.Action("Edit","Teams")'" />
        </div>

    </div>
    @section scripts
    {
        <script>
            new LunchCommand.TeamMembersController($('body'));
        </script>
    }
</div>

