﻿@model LunchCommand.ViewModels.SendInvitationViewModel

@{
    ViewBag.Title = "Invite others to " + ViewBag.TeamName;
}

<h2>@ViewBag.Title!</h2>

<h4>
    You can invte other people to join this team on Lunch Command.  Enter their email addresses below.
</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @{var asArray = Model.EmailAddresses.ToArray();}
        @for (var i = 0; i < LunchCommand.ViewModels.SendInvitationViewModel.MaxAddressCount; i++)
        {
            <div class="form-group">
                <div class="col-md-2">
                    @if (i == 0)
                    {
                        <label class="control-label">Enter up to 5 addresses</label>
                    }
                </div>
                <div class="col-md-10">
                    <input type="email" name="EmailAddresses[@i]" value="@(asArray.Length > i ? asArray[i]: String.Empty)" class="form-control" />
                </div>
            </div>
        }

        <div class="form-group">
            <label class="control-label col-md-2">Fight email spam!</label>
            <div class="col-md-10">
                @Html.ValidationMessage("recaptcha", new { @class = "text-danger" })
                @Html.Partial("_reCAPTCHA")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send Invitations" class="btn btn-success" />
            </div>
        </div>

    </div>
            }