﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/favicon.ico" />
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <title>@(ViewBag.Title.Length > 1 ? ViewBag.Title + " - " : "")Lunch Command</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Scripts/jquery-ui-tooltips/jquery-ui.css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon glyphicon-arrow-down"></span></button>
                @if (ViewBag.DisplayNavbar == null || ViewBag.DisplayNavbar)
                {
                    <a href="@Url.Action("Index", "Home")"><span class="navbar-brand">Lunch Command</span> <img class="navbar-brand" src="~/Content/bgr.png" height="30" /></a>
                }
                else
                {
                    <span class="navbar-brand">Lunch Command</span>
                }
            </div>@if (ViewBag.DisplayNavbar == null || ViewBag.DisplayNavbar)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Manage Venues", "Index", "Venues")</li>
                        <li>@Html.ActionLink("Historic Lunches", "Index", "Lunches")</li>
                        <li>@Html.ActionLink("Luncher Leaderboards", "Index", "Users")</li>
                        <li>@Html.ActionLink("Invite Others", "Send", "Invitations")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            }
        </div>
    </div>
    <div class="layout-body container body-content">        
        @if (ViewBag.TeamName != null)
        {
        <div class="team-header">
            <span style="font-size: small" class="text text-muted">Team:&nbsp;</span>
            <span style="font-size: x-large" class="text text-muted">@ViewBag.TeamName</span>
            @if (ViewBag.UserIsTeamAdmin == true){
                <a style="font-size: small" href="@Url.Action("Edit", "Teams")">(manage)</a>
            }
        </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>
                LunchCommand version @ViewBag.Version    |   Source code available at <a href="https://bitbucket.org/nathandaniels/lunch-command/src/">Bitbucket</a>
                <br />  &copy; @DateTime.Now.Year Nathan Daniels.  |  Glyphs from <a href="http://glyphicons.com/">Glyphicons</a>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery-ui-tooltips/jquery-ui.js")
    @Scripts.Render("~/Scripts/knockout/knockout.js")
    @Scripts.Render("~/Scripts/LunchCommand.js")

    <script>
        LunchCommand.BaseService.BaseUrl = "@Url.Content("~/api/")";
    </script>

    @RenderSection("scripts", required: false)

    @if (ViewBag.Authenticated && ViewBag.NotificationListenerEnabled)
    {
        <script>
            var notificationService = new LunchCommand.NotificationsListener('@Url.Content("~/Content/bgr.png")');
            notificationService.begin();
        </script>
    }

</body>
</html>
