﻿@using LunchCommand.Core.Models
@using LunchCommand.ViewModels

@model LunchCommandViewModel
@{
    ViewBag.Title = "";
}

@section styles{
    @Styles.Render("~/Content/Home.css")
}
@using (Html.BeginForm())
{
    <div class="jumbotron">
        <h1 class="lunch-status">Loading...</h1>
        <div class="after-decision" style="display: none">
            <h1 id="mainVenue" class="venue-name">Cheeseburger Bobby's</h1>
            <h3 style="text-align:center"> Consensus: <span id="mainConsensus">100%</span></h3>
            <h3 id="travelTime" class="text-info" style="text-align:center"> Travel Time: </h3>

            <br />
            <div class="quick-venue">
                <h3>Those in a hurry can go to <span id="quickVenue">Arby's</span> <span class="text-muted consensus" id="quickConsensus">(85% Consensus)</span></h3>
            </div>
            <div class="dissenting-venue">
                <h3>Dissenters can go to <span id="dissentingVenue">Panera Bread</span> <span class="text-muted consensus" id="dissentingConsensus">(34% Consensus)</span></h3>
            </div>
        </div>
        <p class="before-decision" style="display:none">Lunch will be decided in <span id="timeUntilLunch" class="text-info">...</span></p>
    </div>

    <div class="row">
        @Html.HiddenFor(m => m.VenueChoicesMade, htmlAttributes: new { id = "venuesChanged" })

        @Html.Partial("UserDecision")

        @Html.Partial("Propositions")

        <hr />
        <div class="col-md-5 venue-choices">
            <h2>Update your lunch preferences</h2>
            @if (Model.AnyVenuesNew)
            {
                <h4>There are <b class="text-success">new</b> venues for you to choose</h4>
            }
            <h5>Remember to click save at the bottom.</h5>
            <table class="table">

                @{
                    var yesTooltip = "You want to go here";
                    var maybeTooltip = "You will go here only if others want to go here";
                    var noTooltip = "You refuse to go here";
                }

                <!-- Column Headers -->
                <thead>
                    <tr>
                        <td>
                            <a id="expandAll" href="javascript:void(0)" onclick="$('.venue-choices .collapse').collapse('show'); $('#expandAll').hide(); $('#collapseAll').show();">Expand All</a>
                            <a style="display: none" id="collapseAll" href="javascript:void(0)" onclick="$('.venue-choices .in').collapse('hide'); $('#expandAll').show(); $('#collapseAll').hide();">Collapse All</a>
                        </td>
                        <td class="radio-col" title="@yesTooltip">
                            <span class="glyphicon glyphicon-ok text-success"></span>
                        </td>
                        <td class="radio-col" title="@maybeTooltip">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="radio-col" title="@noTooltip">
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        </td>
                    </tr>
                </thead>
            </table>

            <!-- Genre groupings -->
            @{
                var venues = Model.VenueChoicesForUser.ToArray();
                var venueGroups = venues.GroupBy(v => v.GenreName).OrderBy(g => g.Key);
            }
            @foreach (var group in venueGroups)
            {
                var groupId = Guid.NewGuid().ToString();
                var popoverContent = "<div class='lcpo' data-bound='false'><div>Are you sure wish to apply this preference to all " + group.Key + " venues?</div><div style='text-align: right'><button class='btn yes btn-info'>Yes</button><button class='btn no btn-default'>No</button></div></div>";
                <table class="table genre-table">
                    <thead>
                        <tr>
                            <th colspan="4">
                                <a class="genre-header text-default" href="#@groupId" data-toggle="collapse" aria-controls="#@groupId" aria-expanded="false">
                                    <span class="genre-name">@group.Key</span>
                                    &nbsp;
                                    <span class="genre-size text-muted">(@group.Count() @(group.Count() == 1 ? "venue" : "venues"))</span>

                                    @if (group.Any(v => v.IsNew))
                                    {
                                        <span class="genre-size text-success">(@group.Count(v => v.IsNew) new)</span>
                                    }
                                </a>
                            </th>
                            <td class="radio-col" title="You want to go to ALL of these venues">
                                <input type="checkbox" class="select-all"
                                       data-decision="yes"
                                       data-group="@group.Key"
                                       data-trigger="manual"
                                       data-toggle="popover"
                                       data-placement="top"
                                       data-content="@popoverContent"
                                       data-container="body" />
                            </td>
                            <td class="radio-col" title="You will go to these venues only if others want to go to them">
                                <input type="checkbox" class="select-all"
                                       data-decision="maybe"
                                       data-group="@group.Key"
                                       data-trigger="focus"
                                       data-toggle="popover"
                                       data-placement="top"
                                       data-content="@popoverContent"
                                       data-container="body" />
                            </td>
                            <td class="radio-col" title="You refuse to go to ANY of these venues">
                                <input type="checkbox" class="select-all"
                                       data-decision="no"
                                       data-group="@group.Key"
                                       data-trigger="focus"
                                       data-toggle="popover"
                                       data-placement="top"
                                       data-content="@popoverContent"
                                       data-container="body" />
                            </td>
                        </tr>
                    </thead>
                </table>

                <!-- Venues -->
                <div id="@groupId" class="venue-table @(group.Any(v=>v.IsNew)? "in": "collapse")">
                    <table class="table">
                        <tbody>
                            @foreach (var venue in group)
                            {
                                var radioName = String.Format("VenueChoicesForUser[{0}].Preference", Array.IndexOf(venues, venue));
                                var hidden1Name = String.Format("VenueChoicesForUser[{0}].VenueId", Array.IndexOf(venues, venue));
                                var hidden2Name = String.Format("VenueChoicesForUser[{0}].VenueName", Array.IndexOf(venues, venue));

                                <tr>
                                    <td>
                                        <input type="hidden" name="@hidden1Name" value="@venue.VenueId" />
                                        <input type="hidden" name="@hidden2Name" value="@venue.VenueName" />

                                        <label class="form-label">
                                            @venue.VenueName @if (venue.IsNew)
                                            {
                                                <span class="text-success new-venue"> (New)</span>
                                            }
                                        </label>

                                    </td>
                                    <td class="radio-col" title="@yesTooltip">
                                        @Html.RadioButton(radioName, DegreeOfPreference.WantToGo, isChecked: venue.Preference == DegreeOfPreference.WantToGo, htmlAttributes: new { id = radioName + "_yes", @class = "form-control", data_group = group.Key, data_decision = "yes" })

                                    </td>
                                    <td class="radio-col" title="@maybeTooltip">
                                        @Html.RadioButton(radioName, DegreeOfPreference.WillGo, isChecked: venue.Preference == DegreeOfPreference.WillGo, htmlAttributes: new { id = radioName + "_maybe", @class = "form-control", data_group = group.Key, data_decision = "maybe" })

                                    </td>
                                    <td class="radio-col" title="@noTooltip">
                                        @Html.RadioButton(radioName, DegreeOfPreference.WillNotGo, isChecked: venue.Preference == DegreeOfPreference.WillNotGo, htmlAttributes: new { id = radioName + "_no", @class = "form-control", data_group = group.Key, data_decision = "no" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>       }
            <br />
            <div class="center-content">
                <input type="submit" class="btn btn-primary" onclick="$('#venuesChanged').val('true')" value="Save Preferences" />
                <a class="btn btn-default" href="@Url.Action("Index", "Venues")">Add/Edit Venues</a>
            </div>
        </div>
        <div class="col-md-3 users-going-container">
            @Html.Partial("UsersGoing")
        </div>
        <div class="col-md-4 possible-venues-container">
            @Html.Partial("PossibleVenues")
        </div>
    </div>
                    }
@section scripts
    {
    <script>
        new LunchCommand.LunchStatusController($('.jumbotron'), $('.proposition-container'), $('.users-going-container'), $('.possible-venues-container'), $('.question')).initialize();
        new LunchCommand.HomeController($(".genre-table"), $(".venue-table")).initialize();
    </script>
}