﻿@model LunchCommand.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

@using(Html.BeginForm())
{
    @if(!String.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <span class="text-danger">@Model.ErrorMessage</span>
    }

    @Html.LabelFor(m=>m.UserName,"User Nane")
    @Html.EditorFor(m=>m.UserName, null,  new { htmlAttributes = new { @class="form-control"  }})

    <br />

    @Html.LabelFor(m=>m.Password)
    @Html.PasswordFor(m=>m.Password, htmlAttributes={@class = "form-control" })

    <input type="submit" class="btn btn-success" value="Login" />
}