﻿<h2>Today's Possible Venues</h2>
<table class="table" style="display: none" data-bind="visible: true">
    <tbody>
        <!-- ko foreach: PossibleVenues -->
        <tr>
            <td>
                <span data-bind="text: Name" />
            </td>
            <td>
                <span data-bind="if: IsQuick">(Quick)</span>
            </td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>
<!-- ko if: PossibleVenues.length === 0 -->
<!-- ko if: UsersToday.some(function(ut){return ut.Decision === LunchCommand.UserDecision.Going}) -->
<h3 style="display: none" data-bind="visible: true" class="text-danger">No consensus can be determined.  This can happen if all agreed-upon venues have been visited too recently (less than a week by default).  Check the settings for venues <a href="@Url.Action("Index", "Venues")">here.</a></h3>
<!-- /ko -->
<!-- ko ifnot: UsersToday.some(function(ut){return ut.Decision === LunchCommand.UserDecision.Going}) -->
<h3 style="display: none" data-bind="visible: true" class="text-danger">There will not be a lunch today because no one has decided to go.</h3>
<!--/ko-->
<!-- /ko -->
