﻿
<div class="proposition-container row">
        <div class="form-group">
            <div class="new-proposition">
                <hr />
                <h4 class="text text-muted">You can propose a specific venue for today's lunch.  Others can choose to join you, propose their own venues, or let Lunch Command decide.</h4>
                <label class="np-item">Propose a lunch:</label>
                <select class="venue-proposition-select np-item">
                    <option value="-1">Select a venue</option>
                </select>
                <input type="button" class="btn btn-info np-item propose-button" value="Propose" disabled />
            </div>
        </div>
    
    <script type="text/html" id="proposition-template">
        <div class="proposition col-md-6">
            <div class="panel proposition-header panel-info" title="Click to Join Test User">
                <div class="panel-heading">
                    <strong class="proposed-venue">Test Venue</strong>
                    <span class="">Click/Tap to <span class="leave-or-join">leave</span></span>
                </div>
                <div class="panel-body">
                    Has been proposed by <strong class="proposer">test user</strong><br />
                    They are joined by: <span class="followers"></span>
                </div>
            </div>
        </div>
    </script>
</div>
<div class="form-group ungrouped-lunchers">
    <h4>Ungrouped Lunchers: <span class="followers"></span></h4>
</div>