﻿<h2>Lunchers Today</h2>

<h4 data-bind="text: Title"></h4>

<table class="table users-table" style="display: none" data-bind="visible: true">
    <tbody>
        <!-- ko foreach: UsersDecided -->
        <tr>
            <td class="check">
                <span class="glyphicon" data-bind="css: {
                        'glyphicon-minus': IsUndecided,
                        'glyphicon-ok text-success' : IsGoing,
                        'glyphicon-remove text-danger': IsNotGoing
                      }"></span>
            </td>
            <td>
                <span data-bind="text: UserName" />
            </td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>