﻿<div class="question form-group" data-bind="if: lunchIsNigh, visible: true" style="display: none">
    <!-- ko ifnot: userHasDecided -->
    <h2>Are you going to lunch today?</h2>
    <div class="centered">
        <input type="submit" class="btn btn-success" data-bind="click: function(){decideYes();}" value="Yes" />
        <input type="submit" class="btn btn-danger" data-bind="click: function(){decideNo();}"  value="No" />
    </div>
    <!-- /ko -->
    
    <!-- ko if: userHasDecided() && !userIsGoing() -->
    <h2 class="text-danger">You are not going to lunch today</h2>
    <div class="centered">
        <input type="submit" class="btn btn-danger" data-bind="click: function(){decideYes();}"  value="Change Mind" />
    </div>
    <!-- /ko -->
    <!-- ko if: userHasDecided() && userIsGoing() -->
    <h2 class="text-success">You are going to lunch today</h2>
    <div class="centered">
        <input type="submit" class="btn btn-success" data-bind="click: function(){decideNo();}"  value="Change Mind" />
    </div>
    <!-- /ko -->
</div>