﻿@model LunchCommand.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Welcome to Lunch Command";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>@ViewBag.Title!</h2>
        <h4>Please Login Below</h4>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default"/>
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Reset you password", "ResetPassword") if you have forgotten it.
                </p>
                <p>
                    @Html.ActionLink("Register", "Register") if you don't have a Lunch Command account.
                </p>
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}