﻿@model LunchCommand.ViewModels.ManageAccountViewModel

@using LunchCommand.ViewModels;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<style>
    .stupid-bootstrap {
        display: block;
        margin-top: 9px;
    }
</style>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>@ViewBag.Title</h2>
        <p>
            You're logged in as <strong>@User.Identity.GetUserName()</strong>.
        </p>
    </div>
</div>
<br />
<div class="row">
    @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.ValidationSummary(false, null, new {@class="text-danger" })

        <div class="form-group">
            <h4 class="col-md-3 text-right">Account Information</h4>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Username, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Username, new { disabled="disabled", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Password</label>
            <div class="col-md-9">
                @Html.ActionLink("Change Password", "Password", "Account", new { @class = "stupid-bootstrap" })
            </div>
        </div>

        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmEmail, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control" })
            </div>
        </div>

            <div class="form-group">
                <h4 class="col-md-3 text-right">Notification Settings</h4>
            </div>
            @Html.Partial("NotificationSettings", Model)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" class="btn btn-default" value="Save Changes" />
                </div>
            </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
