﻿@using LunchCommand.Core.Models;
@model LunchCommand.ViewModels.ManageAccountViewModel

<div class="form-group">
    @Html.LabelFor(m => m.NotificationSettings.Medium, new { @class = "col-md-3 control-label" })
    <div class="col-md-9 stupid-bootstrap">
        <div class="row">
            @Html.RadioButtonFor(m => m.NotificationSettings.Medium, NotificationMedium.Browser, new { id = "browser_radio" })
            @Html.Label("Browser Notifications", new { @for = "browser_radio" })
            <label id="unsupported" style="display:none" class="text-danger">[NOT SUPPORTED ON YOUR BROWSER]</label>
            <script>
                if (!("Notification" in window)) {
                    document.getElementById("unsupported").style["display"] = "inline";
                }
            </script>
            <label style="margin-left:20px">Browser notifications require that you have Lunch Command open in a browser tab, even if it is in the background.  Notifications work on FireFox, Edge, Chrome, and Chrome-like browsers.  You must grant lunchcommand.com permission to display notifications.</label>
        </div>
        <div class="row">
            @Html.RadioButtonFor(m => m.NotificationSettings.Medium, NotificationMedium.Email, new { id = "email_radio", disabled="disabled" })
            @Html.Label("Email (coming soon)", new { @for = "email_radio" })
        </div>
        <div class="row">
            @Html.RadioButtonFor(m => m.NotificationSettings.Medium, NotificationMedium.None, new { id = "none_radio" })
            @Html.Label("None; disable notifications", new { @for = "none_radio" })

        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label">Notification Preferences</label>
    <div class="col-md-9 stupid-bootstrap">
        <div class="row">
            @Html.CheckBoxFor(m => m.NotificationSettings.NotifyLunchStarted)
            @Html.LabelFor(m => m.NotificationSettings.NotifyLunchStarted)
        </div>
        <div class="row col-md-5">
            @Html.CheckBoxFor(m => m.NotificationSettings.NotifyLunchStartedEvenWhenNotDecided)
            @Html.LabelFor(m => m.NotificationSettings.NotifyLunchStartedEvenWhenNotDecided)
        </div>
    </div>

    <label class="col-md-3 control-label"></label>
    <div class="col-md-9">
        <div class="row">
            @Html.CheckBoxFor(m => m.NotificationSettings.NotifyNotDecided)
            @Html.LabelFor(m => m.NotificationSettings.NotifyNotDecided)
        </div>
        <div class="row col-md-5">
            @Html.TextBoxFor(m => m.NotificationSettings.MinutesToNotifyOfIndecision, new { @type = "number", style="width: 50px" })
            @Html.LabelFor(m => m.NotificationSettings.MinutesToNotifyOfIndecision)
        </div>
    </div>

    <label class="col-md-3 control-label"></label>
    <div class="col-md-9">
        <div class="row">

            @Html.CheckBoxFor(m => m.NotificationSettings.NotifyVenueProposed)
            @Html.LabelFor(m => m.NotificationSettings.NotifyVenueProposed)
        </div>
    </div>
</div>