﻿@using LunchCommand.ViewModels;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Change Password";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>@ViewBag.Title</h2>
        <p>
            You're logged in as <strong>@User.Identity.GetUserName()</strong>.
        </p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
